<ngb-accordion [closeOthers]="true">
  <ngb-panel
    *ngFor="let deploy of deploys"
    title="Deploy of {{deploy.build.project}}:{{deploy.build.branch}}:{{deploy.build.buildNumber}} at
      {{deploy.deployedAt | date:'short'}}"
  >
    <ng-template ngbPanelContent>
      <h3>Labels</h3>
      <table class="table table-striped table-sm">
        <tr *ngFor="let label of deploy.labels">
          <td>{{label.name}}</td>
          <td>{{label.value}}</td>
        </tr>
      </table>

    </ng-template>
  </ngb-panel>
</ngb-accordion>
